body{
    background-color: black;
    color: white;
}
.container {
    background-color: #000;
    display: grid;
    gap: 10px;

    grid-template-areas:
        'header header header header '
        'menu conteudo conteudo conteudo'
        'ad conteudo conteudo conteudo'
        'footer footer footer footer'
    
    ;

}
.item {
    background-color: #000fff;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 20px;

}
header {
    grid-area: header;
}
nav {
    grid-area: menu;
}
section {
    grid-area: conteudo;
}
footer {
    grid-area: footer;
}
.ad {
    grid-area: ad;
}

/*Responsividade*/

@media (max-width: 750px) {
    .container {
        grid-template-areas:
            'header header header menu'
            'conteudo conteudo conteudo conteudo'
            'footer footer footer ad'
        ;
    }
}
@media (max-width: 380px) {
    .container {
        grid-template-areas:
            'header'
            'menu'
            'conteudo'
            'ad'
            'footer'
        ;
    }
}

/*Para alinharmos o conteúdo de um grid para ele ser responsivo, devemos utilizar o(s):
media-queries.
*/