body{
    margin: 0;
}
.exemplo{
    width: 150px;
    height: 150px;
    background-color: green;
    margin: auto;
    margin-top: 100px;
    transition: all 3s linear;/*transition para aplicar a transiçao de efeito,all é para aplicar a qualquer tipo de propriedade que for mudada, 3s é o tempo de transiçao, linear ela começar e terminar em uma mesma velocidade,existem outros tipos de transiçao deve pesquisar sobre outras formas de transiçao*/
}
.exemplo:hover{
    width: 300px;
    background-color: red
}
a{
    color: black;
    transition: all 3s linear;
}
a:hover{
    color: red;
}
/*Qual o principal motivo do uso da propriedade transition no CSS?Fazer com que todas as mudanças de estilo da página sejam de forma clean.*/