body{
    background-color: black;
    color: white;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.item {
    background-color: #000fff;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 20px;

}

.item1 {
    grid-column: 1 / 3;/*forma simplificada de definir aonde a coluna inici a aonde ela termina. inicio / fim*/
    grid-row: 1 / 4;/*forma simplificada de definir o inicio é o final da linha. incio / fim*/

    /*span serve para dar uma posiçao nao imaginária para a coluna ou linhas*/

}

/*Utilizando a propriedade grid-row-start, ao mesclar itens, você está definindo:
Onde a linha começará.
*/