*{
    box-sizing: border-box;
}
body{
    margin: 50px;
    font-size: 17px;
}
fieldset{
    display: block;
    background-color: #ccc;
    border:2px solid #ff0000;
    margin-bottom: 20px;
}
legend{
    border: 2PX solid #ff0000;
    background-color: #ff0000;
    color: #FFF;
    font-size: 15PX;
}
input{
    background-color: #EEE;
    border: 1px solid #ff0000;
}

