*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 17px;
    background-color: #000000;
}
table{
    width: 600px;
    border: 2px solid #000000;
    margin: auto;
    margin-top: 20px;
    background-color: #fff;

}
td{
    border: 2px solid #000000;
}
th{
    border: 2px solid #000000;
}
thead tr th{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}
tbody tr td{
    text-align: center;
    font-weight: bold;
    color: #006400;
}
tbody tr:nth-child(even) {
    background-color: #000000;
}